<html>
 <head>
  <title>fractals</title>
  <style>
  </style>
  </head>
 <body>
   <div>
     <p>Fractal Images</p>
     <div>
       <a href="/curve_by_LThmath1/high">Curve By LThMath1 high Resolution Fractal image</a><br/>
       <a href="/curve_by_LThmath1/low">Curve By LThMath1 low Resolution Fractal image</a><br/>
       <a href="/curve_by_LThMath2/high">Curve By LThMath2 high Resolutin Fractal image</a><br/>
       <a href="/curve_by_LThmath2/low">Curve By LThMath low Resolutin Fractal image</a><br/>
       <a href="/piet_mondrain/high">Piet Mondrain high Resolutin Fractal image</a><br/>
       <a href="/piet_mondrain/low">Piet Mondrain low Resolutin Fractal image</a><br/>
     </div>
   </div>
 </body>
</html>